# Telegram 推送配置
TG_BOT_TOKEN=
TG_CHAT_ID=

# QQ邮箱推送配置
EMAIL_ENABLE=true
EMAIL_SENDER=xxxx@qq.com
EMAIL_PASSWORD=你的16位授权码
EMAIL_RECIPIENTS=xxxx@qq.com
EMAIL_SMTP_SERVER=smtp.qq.com
EMAIL_SMTP_PORT=587
